@charset "utf-8";

a{
  display: inline-block;
  text-decoration: none;
}

img{
  vertical-align: top;
}

.clearfix:after{
  content: "";
  display: block;
  clear:both;
}

.wrapper{
  background-color: #f2f2f2;
  font-family: "Raleway";
}

/*header関連*/
.header{
  z-index: 10;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  border:1px solid #e7e7e7;
  background-color: #fff;
  padding: 15px 0;
}


.package{
  padding-top: 91px;
}

@media screen and
(min-width: 1200px){
  .inner{
  width: 1100px;
  margin: 0 auto;
}
}


/*bolt関連*/
.top__bolt{
  vertical-align: middle;
}

.bolt__logo{
  font-size: 60px;
  color: #777;
  float: left;
}

@media screen and
(min-width: 767px){
.btn__contact{
  font-size: 12px;
  padding: 15px;
  color: #fff;
  background-color: #74cfae;
  float: right;
  transition: .3s;
}
}

@media screen and
(max-width: 766px){
.btn__contact{
  display: none;
}

.is-active{
  display: block;
  background-color: #74cfae;
}
}

@media screen and
(max-width: 766px){
.sp__btn{
  float: right;
  padding: 10px;
  border-radius: 4px;
  border:1px solid #ddd;
}

.sp__menu{
  width: 20px;
  height: 2px;
  background-color: #ccc;
}
}

.btn__contact:hover{
  color: #333;
}
@media screen and
(min-width: 767px){
.bolt-theme{
  padding: 250px 0 250px;
}
}

@media screen and
(max-width: 766px){
.bolt-theme{
  padding: 160px 0 130px;
}
}

.bolt-theme__box{
  color: #c0c0c0;
  font-weight: 300;
  font-size: 30px;
  line-height:1.1;
  text-align: center;

}

.theme{
  margin-bottom: 20px;
  color: #74cfae;
  font-weight: 700;
  font-size: 90px;
  letter-spacing: 3px;
}

@media screen and
(max-width: 766px){
.theme{
  margin-bottom: 20px;
  color: #74cfae;
  font-weight: 700;
  font-size: 80px;
  letter-spacing: 3px;
}
}

.sub-theme{
  font-size: 30px;
  color: #c0c0c0;
}

/*what関連*/
.what{
  padding-top: 50px;
  background-color: #74cfae;
}

.what__inner{
  font-size: 0;
}

@media screen and
(min-width: 1200px){
  .phone__margin{
  display: inline-block;
  width: 50%;
  text-align: center;
}
}

@media screen and
(max-width: 1199px){
  .phone__margin{
  text-align: center;
  margin-bottom: 20px;
}
}

.what__phone{
  text-align: center;
}

.what__phone > img{
  vertical-align: top;
}

@media screen and(min-width: 1200px){
.what__title{
  width: 50%;
  display: inline-block;
  vertical-align: top;
}
}

@media screen and
(max-width: 1199px){
  .what__title{
  text-align: center;
  padding-bottom: 25px;
}
}

.what__body{
  color: #fff;
  font-weight: 300;
  font-size:20px;
  line-height: 28px;
  text-align: center;
}

.we__can{
  margin-bottom: 35px;
  font-size: 24px;
  line-height: 1.1;
}

@media screen and
(min-width: 767px){
.we__can__p{
  font-size: 24px;
}
}

@media screen and
(max-width: 766px){
.we__can__p{
  font-size: 24px;
  margin:0 15px 0;
}
}

/*our_latest_work関連*/
.work{
  margin: 0 auto;
  padding: 60px 0 70px;
}

.our__work{
  font-size: 24px;
  margin-bottom: 40px;
  text-align: center;
}

.work__pic{
  margin-bottom: 90px;
  text-align: center;
  box-sizing: border-box;
}

@media screen and
(min-width: 1200px){
  .pics > li{
  margin-right: 100px;
  margin-top: 80px;
  display:block;
  float: left;
}

.pics > li:nth-child(-n+3){
  margin-top:0;
}

.pics > li:nth-child(3n){
  margin-right: 0;
}
}

@media screen and
(max-width: 1199px){
.pics > li{
  display: block;
}

.pics > li:nth-child(3n){
  margin-bottom: 80px;
}
}

.picture{
  opacity: .7;
  transition: .3s;
}

.picture:hover{
  opacity: 1;
}

.mail__form{
  width: 100%;
  text-align: center;
  font-size: 0;
}
@media screen and
(min-width: 1200px){
.mail__p__txt{
  width: 67%;
  display: inline-block;
}
}
@media screen and
(max-width: 1199px){
  .mail__p__txt{
    margin-bottom: 40px;
}
}

@media screen and
(min-width: 767px){
.mail__p{
  color: #333;
  font-weight: 200;
  font-size: 21px;
  line-height:1.4;
  letter-spacing: 1px;
  text-align: center;
}
}

@media screen and
(max-width: 766px){
.mail__p{
  color: #333;
  font-weight: 200;
  font-size: 21px;
  line-height:1.4;
  letter-spacing: 1px;
  text-align: center;
  margin:0 15px 0;
}
}

@media screen and
(min-width: 767px){
.email{
  display: inline-block;
  width: 17%;
}
}

@media screen and
(max-width: 766px){
.email{
  display: inline-block;
  width: 35%
}
}

.email__btn{
  font-size: 19px;
  padding: 14px 20px;
  background-color: #74cfae;
  color: #fff;
  text-align: center;
  transition: .3s;
}

.email__btn:hover{
  color: #333;
}

/*skill関連*/
.skill{
  background-color: #4e4e4e;
  padding: 70px 0 100px;
  color: #fff;
  box-sizing: border-box;
  font-size: 16px;
}

.four__skill{
  text-align: center;
}

.our__skill{
  margin-bottom: 50px;
  font-weight: 300;
  font-size: 24px;
}

.skill__box{
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  font-size: 0;
}

@media screen and
(min-width: 1200px){
.skill__box > li{
  display: inline-block;
  width: 25%;
}
}

@media screen and
(max-width: 1199px){
.skill__box > li{
  margin-bottom: 88px;
}

.skill__box > li:last-child{
  margin-bottom: 0;
}
}

.skill__circle{
  margin-top: 15px;
  font-size: 16px;
}

/*social関連*/
.some__social{
  vertical-align: center;
}

@media screen and
(min-width: 767px){
.some__social > li{
  display: inline-block;
  width: 20%;
}
}

@media screen and
(min-width: 767px){
.social{
  width: 100%;
  padding: 200px 0;
  text-align: center;
  box-sizing: border-box;
}
}

@media screen and
(max-width: 766px){
.social{
  width: 100%;
  padding:50px 15px;
  text-align: center;
  box-sizing: border-box;
}
}

@media screen and
(min-width: 767px){
.social__list{
  width: 185px;
  padding:30px;
  display: inline-block;
  box-sizing: border-box;
}
}

@media screen and
(max-width: 766px){
.social__list{
  width: 100%;
  margin:30px 0;
  display: inline-block;
  box-sizing: border-box;
}
}

.social__list:hover{
  background-color: #fff;
  transition: all .3s ease;
}


.social__icon{
  font-size: 50px;
  color: #74cfae;
}

/*footer関連*/
.footer{
  background-color: #74cfae;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0 25px;
}

.footer__p{
  color: #fff;
  text-align: right;
}

.heart{
  color: #fff;
}