@charset "utf-8";

a{
  display: inline-block;
}

img{
  vertical-align: top;
}

.clearfix:after{
  content: "";
  display: block;
  clear:both;
}

.package{
  padding-top: 91px;
}

.wrapper{
  background-color: #f2f2f2;
  font-family: "Raleway";
}

.header{
  z-index: 10;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  border:1px solid #e7e7e7;
  background-color: #fff;
}

.inner{
  width: 1100px;
  margin: 0 auto;
}

.top__bolt{
  padding: 15px 0;
  vertical-align: middle;
}

.bolt__logo{
  font-size: 60px;
  color: #777;
  float: left;
}

.btn__contact{
  font-size: 12px;
  padding: 15px;
  color: #fff;
  background-color: #74cfae;
  float: right;
  transition: .3s;
  text-decoration: none;
}

.btn__contact:hover{
  color: #333;
}

.bolt-theme__box{
  padding: 250px 0 250px;
  color: #c0c0c0;
  font-weight: 300;
  font-size: 30px;
  line-height:1.1;
  text-align: center;

}

.theme{
  margin-bottom: 20px;
  color: #74cfae;
  font-weight: 700;
  font-size: 90px;
  letter-spacing: 3px;
}

.sub-theme{
  font-size: 30px;
  color: #c0c0c0;
}

.what{
  padding-top: 50px;
  background-color: #74cfae;
}

.what__inner{
  font-size: 0;
}

.phone__margin{
  display: inline-block;
  width: 50%;
  text-align: center;
}

.what__phone{
  text-align: center;
}

.what__phone > img{
  vertical-align: top;
}

.what__title{
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.what__body{
  color: #fff;
  font-weight: 300;
  font-size:20px;
  line-height: 28px;
  text-align: center;
}

.we__can{
  margin-bottom: 35px;
  font-size: 24px;
  line-height: 1.1;
}

.we__can__p{
  font-size: 24px;
}

.work{
  margin: 0 auto;
  padding: 60px 0 70px;
}

.our__work{
  font-size: 24px;
  margin-bottom: 40px;
  text-align: center;
}

.work__pic{
  padding-bottom: 90px;
  text-align: center;
  box-sizing: border-box;
  font-
}

.pics > li{
  margin-right: 100px;
  margin-top: 80px;
  display:block;
  float: left;
}

.pics > li:nth-child(-n+3){
  margin-top:0;
}

.pics > li:nth-child(3n){
  margin-right: 0;
}

.picture{
  opacity: .7;
  transition: .3s;
}

.picture:hover{
  opacity: 1;
}

.mail__form{
  width: 100%;
  text-align: center;
  font-size: 0;
}

.mail__p__txt{
  width: 67%;
  display: inline-block;
}

.mail__p{
  color: #333;
  font-weight: 200;
  font-size: 21px;
  line-height:1.4;
  letter-spacing: 1px;
  text-align: center;
}

.email{
  display: inline-block;
  width: 17%;
}

.email__btn{
  font-size: 19px;
  padding: 14px 20px;
  background-color: #74cfae;
  color: #fff;
  text-align: center;
  transition: .3s;
  text-decoration: none;
}

.email__btn:hover{
  color: #333;
}

.skill{
  background-color: #4e4e4e;
  padding: 70px 0 100px;
  color: #fff;
  box-sizing: border-box;
  font-size: 16px;
}

.four__skill{
  text-align: center;
}

.our__skill{
  margin-bottom: 50px;
  font-weight: 300;
  font-size: 24px;
}

.skill__box{
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  font-size: 0;
}

.skill__box > li{
  display: inline-block;
  width: 25%;
}

.skill__circle{
  margin-top: 15px;
}

.some__social{
  vertical-align: center;
}

.some__social > li{
  display: inline-block;
  width: 20%;
}

.social{
  width: 100%;
  padding: 200px 0;
  text-align: center;
  box-sizing: border-box;
}

.social__list{
  width: 185px;
  padding:30px;
  display: inline-block;
  box-sizing: border-box;
}

.social__list:hover{
  background-color: #fff;
  transition: all .3s ease;
}


.social__icon{
  font-size: 50px;
  color: #74cfae;
}

.footer{
  background-color: #74cfae;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0 25px;
}

.footer__p{
  color: #fff;
  text-align: right;
}

.heart{
  color: #fff;
}